*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color:antiquewhite;
}

.sec_1{
  height: 90%;
}

h1{
  font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 3vw, 4rem);
    color: #B18b12;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 4rem;
    display: flex;             /* Activa flexbox */
  flex-flow: row;
  justify-content: center;   /* Centra horizontalmente */
  align-items: center;
}
h2{
  font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: #053c56; 
    font-weight: bold;
        
}

h3{
  font-size: clamp(1rem, 1.5vw, 2rem);
    color: #B18b12;
}

h4{
  font-size: clamp(2rem, 1vw, 3rem);
  color: #053c56; 
  text-transform: uppercase;
}

p{
    font-size: 1rem;
}


#footer-placeholder {
  height: 10%;
 }

a{
  text-decoration: none;
}

.cont_l{
  
    padding-top: 1rem;
    padding-right: 2rem;
  
}


.imgLogo{

  width: 50%;

}



.contMenu {
  display: flex;
  flex-direction: column; 
  padding-right: 2rem;  
  }

.contMenu a{
  color: #053c56; 
    line-height: 5;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    white-space: nowrap;
    text-shadow: #053c56;
}

.nav-link.active {
  text-decoration: underline;
}
.linea-vertical {
  width: 1px;
  height: 30vh;
  background-color: #B18b12;
  margin-left: auto; /* Esto la empuja a la derecha */
}



.linea-horizontal {
  margin-bottom: 1rem;
  height: 1px;
  width: 100%;
  background-color:  #B18b12;
  justify-content: center;
  align-items: center;
}

#carr_ind{
    z-index: 0 !important;
}

.carousel-indicators{
    list-style: none;
}

.carousel-inner{
  width: auto;
  height: 100%;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.img_carr{
  height: 500px;   /* nunca sobrepasará el alto del contenedor */
  width: 100%;    /* nunca sobrepasará el ancho del contenedor */
  object-fit: cover;  /* ajusta sin deformar */
}



.cont_foot{

display: flex;
flex-direction: column;
}
.cont_foot a{
    font-size: 1rem;
    padding: 1rem;
    line-height: 0.5rem;
    text-align: center;
    
    color:#053c56!important;
    
}

#carousel-mobile-placeholder {
    width: 100%;
    margin-bottom: 2rem; /* separa del header */
  }
 

  .info-tooltip {
    display: none;
    color: gray;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .info-wrapper:hover .info-tooltip {
    display: block;
  }
  
  .info-wrapper.active .info-tooltip {
    display: block;
  }
  
  .info-label {
    cursor: pointer;
  }
  
  #packageDetails {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  #totalPrice small {
    font-size: 0.8rem;
  }

  .btn-outline-custom {
    color: #053c56;
    border: 2px solid #053c56;
    background-color: transparent;
    transition: 0.3s ease;
  }
  
  .btn-outline-custom:hover {
    background-color: #053c56;
    color: white;
  }
  


  /*gallery style*/

  .filter-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .filter-container select {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .gallery-grid img {
    width: 100%;
    height: auto; /* para que mantenga proporción */
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .gallery-grid img:hover {
    transform: scale(1.05);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 20px;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 90%;
    max-height: 90%;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .overlay-content img {
    max-height: 80vh;
    max-width: 70vw;
    object-fit: contain;
  }
  
  .description-box {
    max-width: 300px;
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .overlay-content {
      flex-direction: column !important; /* ya lo tienes, aseguramos que funcione */
      align-items: center; /* centra contenido horizontal */
      gap: 1rem; /* espacio entre imagen y descripción */
    }
  
    .overlay-content img {
      width: 100% !important;  /* ocupa todo el ancho del contenedor */
      height: auto !important; /* mantiene proporción */
      border-radius: 10px;     /* opcional, para estilo */
    }
  
    .description-box {
      width: 100% !important;  /* ocupa todo el ancho */
      text-align: center;      /* texto centrado */
      padding: 1rem 0;         /* un poco de espacio arriba y abajo */
    }
  }
  
  

  /* Estilos para pantallas menores a 768px (celulares) */
@media (max-width: 767px) {
  
  h2{
      font-size: 1.5rem;
      color: #053c56; 
      
  }
  
  h3{
      font-size: 1.5rem;
      color: #B18b12;
  }
 

  
  .img_carr {
      width: 50%;
      height: auto;
   
    }
  
  /*no borrar este, es para movil*/
    .contMenu {
    position: absolute;
    z-index: 1;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: row; 
     
    }
  
    .contMenu a{
      padding-right: 8px;
      align-items: center;
      justify-content: center;
      color: #B18b12;
      text-decoration: none;
      white-space: nowrap;
    /* text-shadow: 1px 1px 3px #000000; /* sombra negra para destacar sobre la foto */
    }
    
    .linea-vertical {
      height: 0px;
      width: 50vh;
      background-color: #053c56;
    }

  
    .cont_foot {
      padding: 5px;
    }
  
    .carousel-inner {
      overflow: hidden;
     
    }
    .carousel-item img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  


 
  }
  /*pageService*/

  /* Submenú */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 6px;
}

.dropdown-content a {
  color: #053c56;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

/* Mostrar submenú al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

  .menu_2{
    display: flex;
    justify-content: flex-end; /* manda el contenido a la derecha */
    align-items: flex-end;   
   
    }
  
    .menu_2 a{
      padding: 0.5rem;
      font-size: clamp(1rem, 2.5vw, 1rem);
    }

    .dropdown-content{
      background-color: antiquewhite;
      box-shadow: none;
    
    }
   
  .imgLogo2{
    width: 100px;
   
  }

  .div_log{
    align-items: center; 
    display: flex;
  }

  #menuContainer {
    display: flex;
    justify-content: flex-end; /* manda el contenido a la derecha */
    align-items: center;       /* lo centra verticalmente */
    width: 100%;               /* ocupa todo el ancho disponible */
  }
  


 .content .content_2{ 
  margin-top: 50px;
 }
  
    .service-slider {
   
      position: relative;
      height: 30vh;
      object-fit: fill;
      margin: auto;
      overflow: hidden;
      margin-bottom: 5rem;
      }
    
    .lnk1 {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    
    .lnk1 img {
      width: 100%;
      height: auto;
      display: block;
      
    }
    
    .lnk1 .caption {
      position: absolute;
      bottom: 10%;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
    }
    
    .lnk1.active {
      opacity: 1;
      z-index: 1;
    }
    .caption{
      width: 100%;
    }
  /*about us*/
  .img-wrapper {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 0%;
    text-align: center;
  }
  
  .img-wrapper img {
    object-fit: cover;
    object-position: center;
  }
  
  /*calculadora*/

  .calculator-box {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .option {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .total {
    text-align: right;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .preview-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  h2 {
    color: #053c56;
    text-align: center;
  }

  h3 {
    
    margin-bottom: 1rem;
  }

  /* Botón hamburguesa */
.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

/* Menú en desktop */
.menu_2 {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Modo móvil */
@media (max-width: 768px) {


  .menu_2 {
    display: none;            /* inicialmente oculto */
    position: absolute;       /* relativo al container */
    top: 100%;                /* justo debajo del botón */
    right: 0;                 /* alineado a la derecha */
    background-color: rgba(250, 235, 215, 0.95);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    flex-direction: column;
    z-index: 1000;  
    
  }

  .menu_2.show {
    display: flex;
  }






}
